<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <!--bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <!--shop-kart-js-->
    <script src="~/Scripts/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--script-->
</head>
<body>
    @RenderPage("_Header.cshtml")

    <div>
        @RenderBody()
    </div>
    @RenderPage("_Footer.cshtml")
</body>
</html>